.complex-control {
    display: block;
}
.react-tabs {
    display: flex;
    background: var(--select-color);
    border: 1px solid var(--select-color);
    width: 100%;
}

.react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    width: 130px;
    grid-row: 1;
}

.react-tabs__tab {
    height: 50px;
    list-style: none;
    cursor: pointer;
    transition: all 0.1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    user-select: none;
    font-size: 0.9em;
}

.react-tabs__tab--selected {
    background: var(--select-color);
    border-left: 4px  solid var(--good-color);
}

.react-tabs__tab-panel {
    max-height: 615px;
    display: none;
}

.react-tabs__tab-panel--selected {
    flex-grow: 1;
    display: block;
    overflow-y: auto;
}

.panel-content {
    text-align: center;
}