.complex-control {
    display: block;
}
.react-tabs {
    display: flex;
    background: var(--select-color);
    border: 1px solid var(--select-color);

}

.react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: var(--main-color);
    grid-row: 1;
    grid-column: 1;
}

.react-tabs__tab {
    height: 50px;
    list-style: none;
    cursor: pointer;
    transition: all 0.1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    user-select: none;
}

.react-tabs__tab--selected {
    background: var(--select-color);
    border-left: 4px  solid var(--good-color);
}

.react-tabs__tab-panel {
    height: 615px;
    display: none;
}

.react-tabs__tab-panel--selected {
    display: grid;
    width: 100%;
    overflow-y: auto;
}

.panel-content {
    text-align: center;
}