.control-block {
    border: 1px var(--scroll-color) solid;
    border-radius: 3px;
    margin: 10px 5px;
    padding: 5px;
}

.control-block:first-child {
    margin-top: 0;
}

.control-block__legend {
    margin-left: 7px;
    padding: 0 5px;
}
