.condition-complex {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--select-color);
    align-self: start;
    margin: 7px;
    width: 700px;
}

.condition-complex__legend {
    margin-left: 10px;
    padding: 0 5px;
}