.condition-complex {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid var(--select-color);
}

.condition-complex__legend {
    padding: 4px 5px;
}
