.life-mark {
    display: flex;
    flex-direction: column;
}

.life-mark__item {
    margin: 5px;

}
.life-mark__item input {
    margin-right: 5px;
}

.life-mark__period-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.life-mark__period-container div {
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
}
.life-mark__period-container input {
    grid-row: 1;
    grid-column: 2;
    justify-self: start;
    width: 50%;
    height: 22px;
}
.life-mark__period-container button {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    width: 45%;
}