.operator-message {
}

.operator-message__item {
    margin: 5px;
}

.operator-message__type-container {
    display: flex;
    justify-content: space-around;
}
.operator-message__type-container input {
    margin-right: 5px;
}

.operator-message__text-container {
    display: flex;
    justify-content: space-around;
}

.operator-message__text-container input {
    height: 20px;
    width: 70%;
}

.operator-message__text-container button {
    width: 25%;
}