.zs-configuration {
    display: flex;
    flex-direction: column;
}

.zs-configuration__item {
    margin: 5px;
}
.zs-configuration__item input {
    margin-right: 5px;

}

.zs-configuration__period-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.zs-configuration__time-container {
    display: flex;
    justify-content: space-between;
}

.zs-configuration__period-container div {
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
}
.zs-configuration__period-container input {
    grid-row: 1;
    grid-column: 2;
    justify-self: start;
    width: 50%;
    height: 22px;
}
.zs-configuration__period-container button {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    width: 45%;
}