.param-td {

}

.param-td__item {
    margin: 5px;
}

.td-table-container {

}

.td-table {
    display: grid;
    grid-template-columns: 50% 50%;
}

.td-table__column {
    display: grid;
    align-items: center;
}

.left-column {

}

.right-column {

}

.td-table__cell {
    margin: 5px;
    display: grid;
    align-items: center;
}

.one-input {
    width: 100%;
}

.param-td__button-container {
    display: flex;
    justify-content: center;
}

.param-td__button {
    height: 25px;
    width: 80%;
}

.date-time-picker {
    height: 20px;
    width: 100%;
    text-align: center;
    border-radius: 3px;
}

.start-coordinate-input-1 {
    width: 99%;
    grid-row: 1;
}

.start-coordinate-input-2 {
    width: 99%;
    grid-row: 1;
    justify-self: end;
}