.cortex-block-settings {

}

.cortex-block-settings__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cortex-block-settings__item:last-child {
    margin-bottom: 0;
}

.cortex-block-settings__item select {
    width: 40%;
}
.cortex-block-settings__item button {
    width: 100%;
}