html {
    background-color: var(--main-color);
}
.app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 35% 10% 55%;
    font-size: 18px;
    justify-items: center;
    align-items: center;
    color: var(--text-color);
}